.counterDisplayer {
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    width : 100%;
}

.counter {
    display : flex;
    flex-flow : column wrap;
    text-align : center;
    flex : 0.5;
    margin : 10px;
    font-weight : bold;
    font-size : 2em;
}

.counterBar {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    padding : 1em;
}

.minusButton, .plusButton {
    border-radius : 0.6em;
    font-weight: bold;
    width: 2em;
    height: 2em;
}

.plusButton {
    background-color: #8FB3FF;
}

.counterToggleButton {
    padding:0.5em;
}

button {
    box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #D5E1FF;
}

button:hover {
    background-color:#D41D6D;
}

p {
    margin : 3px;
}

