.stitch_container {
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
  }
  
  .stitch_image {
    display: flex;
    flex-direction: column;
    background-color: purple;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 3rem;
  }
  
  .favorite_button {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }
  
  .stitch_name {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  .glossary_container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }